<div class="container">
    <span >myTimeandExpenses</span>
</div>
<div class="navlink">
    <nav>
        <ul>
            <li><a routerLink="/time"> TIME </a> </li>
            <li><a routerLink="/expenses"> EXPENSES </a></li>
            <li><a routerLink="/chargecode"> CHARGECODES </a></li>
            <li><a routerLink="/summary"> SUMMARY </a></li>
        </ul> 
        <!--<div class="date">
            <mat-form-field >
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div> -->
    </nav>
    <hr>
</div>


