.head{
   padding: 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
   display: flex;

.button{
    margin-left: auto;  
    padding: 5px;
      
}
}
.top{
     margin: 10px 10px;
     width: 100%;
}
p{
    color: red;
}